<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./Jogo/CSS/jogo.css">
        <script src="./Jogo/JS/jogo.js"></script>
        <script src="./Jogo/JS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="fixed-header">
                <div class="container">
                    {{ header }}
                </div>
            </div>
			<form action="https://getform.io/f/71952d5a-7f1e-4d13-9e98-c0742a17fc23" method="POST">
				<input type="text" name="name" placeholder="nome">
				<input type="email" name="email" placeholder="email">
				<button type="submit">Send</button>
			</form>
            <div>
                <table class="center">
                    <tbody>
                        <tr v-for="trs in 3" class="table-border">
                            <td v-for="tds in 3" class="other-border">
                                <img type="image" :linha="trs - 1" :coluna="tds - 1" v-on:click="whichImage" v-bind:src="src" v-bind:alt="alt" style="width: 62px; height: 62px;"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script>
        /*
        *  For my validation i'll
        *  use null as an empty position,
        *  1 for player 1 and 0 for player 2

        */
        new Vue({
            el: "#app",
            data: {
                header: "Game",
                changed: false,
                player1: true, //if it is false means it's player 2
                ativo: false,
                src: "./Jogo/pics/checkbox_empty.png",
                alt: "teste",
                board: [[null, null, null], [null, null, null], [null, null, null]]
            },
            methods:{
                whichImage: function(event) {
                    const line = event.target.attributes[1].value;
                    const column =  event.target.attributes[2].value;
                    const currentSrc = event.target.currentSrc;


                    if(this.player1){
                        this.board[line][column] = 1;
                        this.player1 = false;
                        event.target.src = "./Jogo/pics/direct.png";
                    } else {
                        this.board[line][column] = 0;
                        this.player1 = true
                        event.target.src = "./Jogo/pics/circle.png";
                    }


                    this.validateWinner(this.board);
                },
                validateWinner: function(board){
                    const reducer = (accumulator, currentValue) => accumulator + currentValue;
                    var total1 = board[0].reduce(reducer);
                    var total2 = board[1].reduce(reducer);
                    var total3 = board[2].reduce(reducer);


                    if(total1 == 3 || total2 == 3 || total3 == 3){
                        alert("Ganhou")
                    }
                  /*
                    var total = board[1].reduce((acumulador, numero, indice, original) => {
                        if(indice == 3)
                            alert("Ganhou")

                    })
                    var total = board[2].reduce((acumulador, numero, indice, original) => {
                        if(indice == 3)
                            alert("Ganhou")
                    }) */
                }
            }
        })
    </script>
</html>