<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/jogo.css">
        <script src="../JS/jogo.js"></script>
        <script src="../JS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="fixed-header">
                <div class="container">
                    {{ header }}
                </div>
            </div>
            <div>   
                <table class="center">
                    <tbody>
                        <tr v-for="trs in 3" class="table-border">
                            <td v-for="tds in 3" class="other-border" linha="0" coluna="0" :key="trs + tds">
                                <div v-show="clicked" v-on:click="clicked()">
                                    <img v-if="isCircle" v-bind:src="src" v-bind:alt="alt" style="width: 62px; height: 62px;"/>
                                    <img v-else v-bind:src="src1" v-bind:alt="alt2"/></td>
                                </div>
                        </tr>
                        
                    </tbody>
                </table>
               
            </div>
        </div>
    </body>
    <script>
        new Vue({
            el: "#app",
            data: {
                header: "Game",
                src: "../pics/direct.png",
                alt: "kkkk",
                src1: "../pics/circle.png",
                alt1: "kkkkk",
                clicked: false,
                isCircle: true,
                methods: {
                    clicked: function () {
                        console.log(this.clicked)
                        return this.clicked = !this.clicked;
                    }
                }
            }
        })
    </script>
</html>