<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/jogo.css">
        <script src="../JS/jogo.js"></script>
        <script src="../JS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="fixed-header">
                <div class="container">
                    {{ header }}
                </div>
            </div>
            <div>   
                <table class="center">
                    <tbody>
                        <tr v-for="trs in 3" class="table-border">
                            <td v-for="tds in 3" class="other-border">
                                <div v-show="clicked" :linha="trs" :coluna="tds">
                                    <img type="image" v-on:click="whichImage"  v-bind:src="src" v-bind:alt="alt" style="width: 62px; height: 62px;"/>
                                </div>
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </div>
    </body>
    <script>
        new Vue({
            el: "#app",
            data: {
                header: "Game",
                changed: false,
                clicked: true,
                ativo: false,
                src: "../pics/direct.png",
                alt: "teste",
                methods: {
                    whichImage(){
                        this.src =  "../pics/circle.png";

                    }
                   
                }




            }
        })
    </script>
</html>