<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/jogo.css">
        <script src="../JS/jogo.js"></script>
        <script src="../JS/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="fixed-header">
                <div class="container">
                    {{ header }}
                </div>
            </div>
            <div>   
                <table class="center">
                    <tbody>
                        <tr v-for="trs in 3" class="table-border">
                            <td v-for="tds in 3" class="other-border">
                                <img type="image" :linha="trs - 1" :coluna="tds - 1" v-on:click="whichImage" v-bind:src="src" v-bind:alt="alt" style="width: 62px; height: 62px;"/>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </body>
    <script>
        new Vue({
            el: "#app",
            data: {
                header: "Game",
                changed: false,
                player1: true, //if it is false means it's player 2
                ativo: false,
                src: "../pics/checkbox_empty.png",
                alt: "teste"
            },
            methods:{
                whichImage(event) {
                    const line = event.target.attributes[1].value;
                    const column =  event.target.attributes[2].value;
                    const currentSrc = event.target.currentSrc;
                    var board = new Array(3);
                    board[0] = new Array(3);
                    board[1] = new Array(3);
                    board[2] = new Array(3);
                    
                    
                    if(this.player1){
                        board[line][column] = 1;
                        this.player1 = false;
                        event.target.src = "../pics/direct.png";
                    } else {
                        board[line][column] = 1;
                        this.player1 = true 
                        event.target.src = "../pics/circle.png";
                    }
                   // validateWinner();
                   console.log(board)
                },
                //validateWinner(){

                //}
            }
        })
    </script>
</html>